
h1{
    background-color: black;
    color: white;
    text-align: center;
    height: 10vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100vw;

}
    header, h1 {
    margin-top: 0;
}
header{
    border-bottom: 6px double black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
fieldset{
    padding-bottom: 25px;
    border-bottom: 3px solid black;
    display: flex;
    flex-direction: column;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}
h3{
    margin-bottom: .5em;
}
#state{
    padding: 1px 2px;
    border: 2px inset gray;
}
.scale{
    width:100%; 
    justify-content: center;
}
.box{
    height: 5vh;
    background-color: silver;
    text-align: right;
    border-radius: 5px;
}
.dashed{
    text-decoration: underline dashed;
}
#comments{
    height: 25vh;
    transition: 3s;
}
#comments:focus{
    background-color: lightblue;
}
:focus{
    background-color: darkslategrey;
    outline-color: darkturquoise;
    color: white;
}
select{
    height: 10vh;
}
#zip{
    width: 50%;
}
label{
    margin: 10px;
    font-weight: 400;
    font-size: 1.5em;
}
.font{
    font-family: 'Damion', cursive;
}
.signup{
    color: white;
    background-color: aqua;
    font-size: 4em;
    border-radius: 20px;
    padding: 0 calc(45% - 6rem);
    display: block;
    margin: 0 auto;
    border: 4px ridge black;
}
footer{
    text-align: center;
    color: lightslategrey
}
legend{
    font-size: 2em;
}
.bold{
    font-weight: bold;
}
.bgclr{
    background-color: palegreen;
}

/* Media Queries */

@media  (min-width: 768px) {

    .scale{
        width: 75%;
    }
    label{
        width: 20%;
        font-size: 1.25em;
    }

    #comments{
        width: 100%;
        height: 15vh;
    }
    fieldset{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .ftitle{
        width: 100%;
    }
    #zip{
        width: 25%;
    }
}